@model IEnumerable<Models.UniFile>

@{
    ViewData["Title"] = "News";
}

<!-- StyleSheets -->
<link rel="stylesheet" href="/css/News.css" asp-append-version="true">

<h1>News</h1>

<div class="container" style="padding-bottom: 170px;">
    <div class="row video-list">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card video-card">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="@item.File" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
