@page
@using Data.Repository.IRepository
@model ForgotPasswordModel
@inject IUniFileRepository UniFileRepository

@{
    Layout = null;

    var imgs = UniFileRepository.GetAllImages();
    ViewData["IMgPass"] = imgs[4].File;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="/css/Pass.css">
<title>Forgot Your Password - HelwanUniversity</title>

<style>
    body {
        background-image: url('@ViewData["IMgPass"]');
        background-repeat: no-repeat;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 0 20px;
        background-size: cover;
    }
</style>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card">
                    <i class="fa fa-lock lock-icon"></i>
                    <h2 style="margin-top: 30px;">Forgot your password?</h2>
                    <p>Please enter your email address to reset your password.</p>
                    <br />
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control passInput" autocomplete="username" aria-required="true" placeholder="StudentId@Faculty.helwan.edu.eg" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

