@{
    ViewData["Title"] = "Payment Successful";
}
<center>
    <h2>Payment Successful</h2>
    <p>Thank you for your purchase! Your payment has been successfully processed.</p>
    <br/>
    <img src="https://res.cloudinary.com/drvwqlgqw/image/upload/v1724112401/social-contactless-payment-with-mobile-phone_ko2t1p.gif" alt="Your GIF Description" style="max-width:100%; height:auto;">
</center>
