@{
    ViewData["Title"] = "Campus Map";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@ViewBag.LogoTitle" type="image/png">


    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/Map.css">
</head>

<body>
    <header>
        <h1 class="english-text">Campus Map</h1>
        <img src="@ViewBag.MapImage" alt="Helwan University campus map">
    </header>
</body>

</html>

