@{
    ViewData["Title"] = "How to Obtain an Embedded Link?";
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/LINK.css">
</head>
<body>
    <div class="container">
        <h1>How to Obtain an Embedded Link?</h1>

        <div class="step">
            <h3>Step 1:</h3>
            <h4>Go to the Facebook link you want to embed in the news page, then click on the "..." next to the Follow button above the video, and then click on the Embed option in the menu.</h4>
            <img src="https://res.cloudinary.com/drvwqlgqw/image/upload/v1722615845/snbjv6vvwvih4c5vizql.jpg" alt="screen-shot-1" class="img-fluid" />
        </div>

        <div class="step">
            <h3>Step 2:</h3>
            <h4>Copy the Embedded Link</h4>
            <img src="https://res.cloudinary.com/drvwqlgqw/image/upload/v1722616295/jvivsj1l51hb1h1tsswp.jpg" alt="screen-shot-2" class="img-fluid" />
        </div>

        <div class="step">
            <h3>Step 3:</h3>
            <h4>Copy the Src Link</h4>
            <img src="https://res.cloudinary.com/drvwqlgqw/image/upload/v1722616964/w5nhbynt9cfrjorrv5ts.jpg" alt="screen-shot-3" class="img-fluid" />
        </div>

        <div class="step">
            <h3>Step 4:</h3>
            <h4>Put Src Link Here to Embed the Video</h4>
            <img src="https://res.cloudinary.com/drvwqlgqw/image/upload/v1722618089/olpvmeadma2c7oty4bsg.jpg" alt="screen-shot-4" class="img-fluid" />
        </div>
    </div>
</body>
</html>
