@model IEnumerable<Models.UniFile>

@{
    ViewData["Title"] = "News";
}

<!-- Stylesheet -->
<link rel="stylesheet" href="/css/News.css">

<h1>News</h1>

<div class="container" style="padding-bottom: 170PX;">
    <div class="add-image-button">
        <a asp-action="AddVideo">
            <img src="https://img.icons8.com/dotty/80/1A1A1A/add.png" alt="add" />
        </a>
    </div>
    <div class="row video-list">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card video-card">
                    <iframe src="@item.File" allowfullscreen></iframe>
                    <div class="action-bar">
                        <a asp-action="UpdateVideo" asp-route-id="@item.Id">
                            <img src="https://img.icons8.com/ios/50/1A1A1A/available-updates.png" alt="edit" />
                        </a>

                        <!-- Form -->
                        <form asp-action="Delete" method="post" style="display:inline;">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@item.Id" />
                            <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;" onclick="return confirm('Are you sure you want to delete this video?');">
                                <img src="https://img.icons8.com/dotty/80/1A1A1A/delete-forever.png" alt="delete" />
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



