@{
    ViewData["Title"] = "Department Info";
}
<!-- StyleSheets -->
<link rel="stylesheet" href="/css/DepartmentInfo.css">

<h3 class="my-4 text-center" style="font-size: 40px;">
    @ViewData["DepartmentName"] Department - @ViewData["FacultyName"] Faculty
</h3>
<div style="margin-top: 50px;"></div>
<div class="cards-container">
    <a href="https://example.com/courses" target="_blank">
    <div class="card" style="background-image: url('https://img.freepik.com/free-photo/book-library-with-open-textbook_1150-5920.jpg?t=st=1737824236~exp=1737827836~hmac=bd7a459c1371bfc0d9ef1a5a682d5c9218b2ed2c114a8ffd2bf98f273a5f0c6a&w=1060');">
        <div class="card-content">
            <p class="card-title">Courses</p>
            <p class="card-para">Academic subjects offered by the department, covering theoretical and practical knowledge</p>
        </div>
    </div>
    </a>
    <a href="@Url.Action("StudentsByDepartment", "Student", new { id = ViewBag.ID })">
        <div class="card" style="background-image: url('https://th.bing.com/th/id/OIP.TGXiIDJlIVgSN9X_9wCyHAHaE7?rs=1&pid=ImgDetMain');">
        <div class="card-content">
            <p class="card-title">Students in the Department</p>
            <p class="card-para">Individuals enrolled in the department's programs, pursuing specialized studies</p>
        </div>
    </div>
    </a>
    <a href="https://example.com/courses" target="_blank">
    <div class="card" style="background-image: url('https://img.freepik.com/free-vector/business-performance-analysis-with-graphs_53876-66260.jpg?t=st=1737825510~exp=1737829110~hmac=4c34d0713667aa957de771d50139cd197ce5c942a1cdd65f3ec162b87d1a26f8&w=1060');">
        <div class="card-content">
            <p class="card-title">Student Results Statistics</p>
            <p class="card-para">Data showcasing student performance in exams and courses</p>
        </div>
    </div>
    </a>
    <a href="https://example.com/courses" target="_blank">
    <div class="card" style="background-image: url('https://th.bing.com/th/id/OIP.sjW0KjFv2sPM9bj5dH00mAHaFS?rs=1&pid=ImgDetMain');">
        <div class="card-content">
            <p class="card-title">Faculty Information</p>
            <p class="card-para">Brief details about the faculty, its vision, and academic offerings</p>
        </div>
    </div>
    </a>
</div>
