.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #333;
    text-align: center;
}

    .custom-file-upload i {
        margin-right: 5px;
    }

    .custom-file-upload:hover {
        background-color: #e2e6ea;
    }
#picturePreview img {
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
}