.card-container {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    padding: 20px;
}

.card-content {
    flex: 2;
    margin-right: 20px;
}

.card-image {
    flex: 1;
    width: 1000px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        font-weight: bold;
    }

    .form-group input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
    }

.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }
