* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 30px 40px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.lock-icon {
    font-size: 3rem;
    color: white;
}

h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    text-transform: uppercase;
}

p {
    font-size: 12px;
    margin-bottom: 15px;
}

.passInput {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid deepskyblue;
    font-size: 15px;
    color: white;
    outline: none;
}

button {
    margin-top: 15px;
    width: 100%;
    background-color: deepskyblue;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    button:hover {
        background-color: #007acc;
    }
