@{
    ViewData["Title"] = "Map";
}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Map.css">
</head>
<body>
    <header>
        <h1 class="arabic-text">خريطة الحرم الجامعي</h1>
        <img src="@ViewBag.MapImage" alt="صورة جامعة حلوان">
    </header>
</body>
</html>

